/* Font - Rampart One */
@import url("https://fonts.googleapis.com/css2?family=Rampart+One&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Rampart One", sans-serif;
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.header {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  transition: all 500ms ease-out;
}

.heading {
  font-size: 100px;
}

.color-teller {
  font-size: 24px;
  font-family: sans-serif;
}

.btn-change {
  font-family: inherit;
  background: none;
  font-size: 16px;
  padding: 12px 36px;
  border-radius: 10px;
  text-transform: uppercase;
  cursor: pointer;
  border: 2px solid #000;
}
